main {
  height: 100vh;
  width: 100vw;
  display: flex;

  section.main {
    display: flex;
    flex-direction: column;
    width: 100%;

    .main-container {
      overflow-y: scroll;
    }
  }
}
