aside {
  height: 100vh;
  width: 100vw;
  min-width: 20rem;
  max-width: 320px;
  overflow-y: scroll;
  display: flex;
  position: relative;
  flex-direction: column;
  ::-webkit-scrollbar {
    width: 0;
  }

  .profile-container {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 2rem 0 2rem 0;
    background: linear-gradient(180deg, rgba(255, 0, 150, 0.613), #00000000);
    position: sticky;
    top: 0;
    z-index: 10;

    .profile-card {
      height: 6rem;
      width: 16rem;
      box-shadow: 0.2rem 0.2rem 2rem 0 rgba(0, 0, 0, 0.274);
      border-radius: 1rem;
      background-color: #fff;
      display: flex;
      cursor: pointer;
      user-select: none;

      section:nth-child(1) {
        height: 100%;
        aspect-ratio: 1 / 1;
        padding: 1rem;
        display: flex;
        justify-content: center;

        img {
          border-radius: 100%;
          background-color: #000;
          transition: all 0.3s;

          &:hover {
            opacity: 80%;
          }
        }
      }
      section:nth-child(2) {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          margin: 0;
        }

        p.name {
          color: rgba(255, 0, 150);
          font-weight: 600;
          overflow: hidden;
          height: 1.5rem;
        }

        p.phone {
          color: rgb(123, 123, 123);
          font-size: 0.8rem;
        }
      }
    }
  }
  .chats-container {
    height: 100%;
    width: 100%;
  }
}
